# Python
__pycache__/
*.py[cod]
*.pyo
.env
*.env

# Virtual environments
venv/
.venv/
env/

# Database
*.db
*.sqlite3

# Node
node_modules/
dist/
dist-ssr/

# Logs
*.log
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# Editor
.vscode/*
!.vscode/extensions.json
.idea/
.DS_Store
*.suo
*.sw?

# Local env files
*.local
.env.local
.env.*.local

# Claude
.claude/settings.local.json
claude.md
/.claude